.container{
    max-width: 80%;
    margin: auto;
    
}

.banner{
    background-color: rgba(229, 84, 115, 0.10);
    
}
.banner-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
 
    
}
.img{
    width: 430px;
    
}
.banner-content{
    max-width:50%;
padding-bottom: 100px;
padding-top: 100px;
}
    
.banner-title{
    color: #272727;
font-size: 55px;
margin-bottom: 0;

    }
.banner-desc{
        color: rgba(39, 39, 39, 0.60);
        font-size: 14px;
        line-height:22px;
        max-width: 91%;
    
    }
.img-wrapper{
        width: 50%;
        align-self: flex-end;
        }
.btn{
    padding: 10px 30px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;

}
.hot-deal{
    padding-left: 200px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
text-align: center;
gap: 100px;
align-items: center;
    }
    .img-2{
        width: 200px;
       height: 300px;

    }
    .banner-desc-center{
        color: rgba(39, 39, 39, 0.60);
       text-align: center;

    }
  .flower-section {
    padding-top:60px;
    padding-bottom: 40px;
  }
    .flowers{
        text-align: center;
        color: black;
    }
    .flowers-desc{
        color: rgba(39, 39, 39, 0.60);
        font-size: 14px;
        max-width: 42%;
        margin: 20px auto 20px auto;
    }
    .pink-flower{
        display: flex; 
        align-items: center;
        gap: 20px;
        align-items: stretch;
       
    }
    .fl-img-wrapper {
        width: 33%;
    }
    .fl-1 {
        border-radius: 300px 300px 0px 0px;
        background: #A7216226;
        display: flex;
        align-items: end;
        justify-content: center;
        height:100%;
        
       
        
    }
    .img-fl {
        width: 60%;

    }

    .fl-2 {
        border-radius: 300px 300px 0px 0px;
        background: #0597A026;
        display: flex;
        align-items: center;
        justify-content: center;
        height:100%;

    }

    .fl-3 {
        border-radius: 300px 300px 0px 0px;
        background: #477D1126;
        display: flex;
        align-items: end;
        justify-content: center;
        height:100%;
    }
    .pink-flower-text {
        color: #272727;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        text-decoration-line: underline;
        margin-top: 25px;
    }

    .flower-asset-section{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .flower-asset{
        display: flex;
        gap: 40px;
        border-radius: 8px;
        background: rgba(39, 39, 39, 0.05);
        padding-top:60px;
        padding-bottom: 40px;
        justify-content: center;
    
    }
    .asset-desc{
        align-items: center;
    }
    .insta{
        
        text-align: center;
    
        
    }
    .flower-png{
        display: flex;
        gap: 10px;
    
    }
    .img-png{
        width: 300px;
        height: 200px;
    }

    .deal-section { 
        padding-top: 60px;
        padding-bottom: 60px;   
    }
    .deals{
    text-align: center;
    background-image: url('./Flower\ Asset/Rectangle 9.png');
    padding-top: 100px;
    padding-bottom: 100px;
    
    }
    .shop-title{
        color: #E55473;
    }
    .shop-desc{
       
        color: rgba(255, 255, 255, 0.90);

    }.shop-title-info{
        color: white;
    }
    .shop-about{
        background-color: black;
        text-align: center;
        padding-top:60px;
        padding-bottom: 40px;
    }